.code-folding-btn {
    position: relative;
    top: 21.5px;

    background: transparent;
    color: 999;
    font-family: monospace;
    font-size: 9px;
    border-style: none none dotted dotted;
    border-radius: 0;
    border-color: #ccc;
    margin-bottom: 5px;
}

.code-folding-btn.collapsed {
  top: 0;
  border-color: #ccc;
  background: transparent;
  border-style: dotted;
}

.code-folding-btn:hover {
  color: cornflowerblue;
  background-color: transparent;
  border-color: #ccc;
}

#header {

}

h1, h2, h3 {
  color: #337ab7;
  font-family: Avenir, Arial Rounded MT, Helvetica Neue
}

h1.title {
  font-size: 10px;
  color: gray;
}

h1 {
  margin-top: 80px;
}

h2 {
  margin-top: 30px;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;
}

pre {
  background: #fcfcfc;
  border-style: dotted;
  border-radius: 0;
  font-size: 10px;
  font-family: Cascadia Code, Fira Code, Consolas, Droid Sans Mono, monospace;
}

pre:not([class]) {
  background: #fcfcfc;
  background: #fafaff;
}

pre.r + pre, .sourceCode + pre {
}

pre.r {
  margin-top: -2em;
}

.tocify li {
  font-family: Avenir, Arial Rounded MT, Consolas, Helvetica Neue;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tocify li:hover {
  background: #f6f6f9;
  color: #337ab7;
}
